<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="../static/food1.png">The Rohit Shelar&nbsp;Food Store</div>
		<nav>  
			<ul>
				<li><a href="{{url_for('index')}}">Home</a>
				<li><a href="{{url_for('veg')}}">Veg</a>
				<li><a href="{{url_for('non_veg')}}">Non-Veg</a>
			</ul>
		</nav>
	</header>
	<section>
		<strong>You can get here all types of Non-Veg Dishes.</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			
		</main>
		<aside>
			<div>Sidebar 1</div>
			<div>Sidebar 2</div>
			<div>Sidebar 3</div>
		</aside>
	</section>
	


</body>

</html>